body {
    background-image: linear-gradient( #062904, #31722a);
}
.cabe {
    align-items: center;
    text-align: center;
    color: white;
}
.outro {
    color: white;
    background-color: black;
    text-align: center;
}
.outra {
    padding: 24px 0;
}